.container {
	background-color: #fff;
	border-radius: 25px;
	font-family: vazir;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 25px;
}
.header h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #8a6ef8;
	transition: all 0.2s linear;
}
.header img {
	width: 16px;
	height: 16px;
	transition: all 0.2s linear;
}
.close {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 25px;
}
.close h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #282828e5;
	transition: all 0.2s linear;
}
.close img {
	width: 16px;
	height: 16px;
	transform: rotate(180deg);
	transition: all 0.2s linear;
}

.items {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.4s linear;
}

.items.open {
	max-height: fit-content;
	opacity: 1;
}

.items ul {
	padding-bottom: 15px;
}
.container li {
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #282828cc;
}
