.container {
	width: 393px;
	padding-top: 40px;
}
.container h2 {
	font-family: Yekan;
	font-weight: 700;
	font-size: 20px;
	line-height: 31px;
	color: #282828;
}
.container h3 {
	font-family: yekan;
	font-weight: 700;
	font-size: 20px;
	line-height: 31px;
	color: #282828;
}
@media (min-width: 1300px) {
	.container {
		width: 912px;
		margin-left: 400px;
	}
	.container h2 {
		font-size: 28px;
		line-height: 43px;
	}
	.container h3 {
		font-size: 28px;
		line-height: 43px;
	}
}
