.container {
    width: 392px;
    height: 51px;
	border: dashed rgba(99, 8, 153, 0.2) 1px;
    position: sticky;
    top: 0;
    background-color: #fff;
	z-index: 3;
}
.container ul {
	display: flex;
    align-items: center;
    text-wrap: nowrap;
	padding: 0 30px ;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 70px;
}
.container li {
	font-family: Vazir;
	width: 55px;
	list-style: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	text-align: right;
	color: #282828;
	box-sizing: border-box;
	cursor: pointer;
    /* padding: 0 20px; */
}
.container li:active {
	text-decoration: underline;
	color: #7c3aed;
}
