.contaienr {
	display: flex;
	flex-direction: column;
	position: relative;
}
.container h2 {
	font-family: Yekan;
	font-weight: 700;
	font-size: 20px;
	line-height: 31px;
	text-align: center;
	color: #282828;
}
.container span {
	color: #8a6ef8;
}

.lineContainer {
	position: absolute;
	top: 2480px;
	left: 80px;
	z-index: 1;
	width: 65px;
	height: 655px;
}
.line {
	width: 100%;
	height: 100%;
}
@media (min-width: 1300px) {
	.container {
		width: 916px;
		height: 443px;
		border: mixed solid #00000080;
		margin-left: 400px;
	}
	.container h2 {
		font-size: 28px;
		line-height: 43px;
		text-align: center;
		color: #282828;
	}
	.subContainer {
		width: 600px;
		display: flex;
		flex-direction: row;
        justify-content: space-between;
        align-items: center;
		gap: -20px;
	}
	.lineContainer {
		transform: rotate(90deg);
		top: 2100px;
		left: 1120px;
		width: 73px;
		height: 654px;
	}
}
