@font-face {
	font-family: Yekan;
	src: url(./fonts/YekanBakh-Regular.woff);
	weight: 500;
}
@font-face {
	font-family: Vazir;
	src: url(./fonts/Vazirmatn-Regular.woff2);
	weight: 500;
}

.page {
	background-color: #fff;
	max-width: 393px;
	border-radius: 40px;
	direction: rtl;
	margin: 0 auto;
	text-align: center;
	align-items: center;
	justify-items: center;
	padding: 0;
	gap: 64px;
	/* font-family: ; */
}
@media (min-width: 1300px) {
	.page {
		direction: rtl;
		width: 1300px;
		padding:50px;
		justify-content: right;
		align-items: start;
		text-align: right;
	}
}
